<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="nodejs" path="*" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\nodejs\node.exe" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Nodejs">
          <match url="(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>